@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Nothing+You+Could+Do&family=Roboto+Condensed&family=Roboto+Flex:opsz@8..144&display=swap');

#lapis{
    background-color: #335C81;
}
#green{
    background-color: #556F44;
}
#pink{
    background-color: #CE2767;
}
#almond{
    background-color: #E6DBD0;
}