@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Nothing+You+Could+Do&family=Roboto+Condensed&family=Roboto+Flex:opsz@8..144&display=swap');

h1, h2, h3{
    font-family: "Roboto Condensed";
}

p, a, li{
    font-family: "Roboto Flex";
}

body{
    max-width: 600px;
    margin: 0 auto;
    background-color: #E6DBD0;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    background-color: #335C81;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1em;
}
h1{
    color: white;
    padding: 1em;
}

ul{
    list-style-type: none;
}

nav{
    text-align: center;
    background-color: black;
}

#menu{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: white;
    background-color: #CE2767;
    border: #960d42 solid 2px;
}

#menu::before{
    content: "≡";
}

.navigation{
    list-style: none;
    margin: 0;
    max-width: 760px;
}

.nav-list{
    margin: auto 0;
}

.navigation li{
    display: none;
}

.navigation a{
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, .navigation a:active {
	color: white;
	background-color: #335C81;
}

.show li{
    display: block;
}

#menu.show::before{
    content: "x";
}

a{
    color: white;
    text-decoration: none;
}


nav ul{
    display: flex;
    flex-direction: column;
}


#hero{
    max-width: 600px;
    width: 100%;
}

#hero-section{
    text-align: center;
}

#hero-section h2{
    text-align: center;
    color: white;
    background-color: #556F44;
    padding: 1em;
    margin: 0 auto;
    border: 2px solid black;
}

#current-events{
    border-radius: 10px; 
    margin-bottom: 10px;
    margin: 0 auto;
    width: 100%;
    min-width: 100px;
    text-align: center;
    max-width: 400px;
    min-width: 100px;
}
#current-events h2{
    text-align: center;
    color: white;
    background-color: #556F44;
    padding: 1em;
    margin: 0 auto;
    border: 2px solid black;
}

#weather{
    border-radius: 10px; 
    margin-bottom: 10px;
    margin: 0 auto;
    width: 100%;
    min-width: 100px;
    text-align: center; 
    max-width: 400px;
    min-width: 100px;
}

#weather h2{
    text-align: center;
    color: white;
    background-color: #556F44;
    padding: 1em;
    margin: 0 auto;
    border: 2px solid black;
}

#about{
    border-radius: 10px; 
    margin-bottom: 10px;
    margin: 0 auto;
    width: 100%;
    min-width: 100px;
    text-align: center;
}

#about h2{
    text-align: center;
    color: white;
    background-color: #556F44;
    padding: 1em;
    margin: 0 auto;
    border: 2px solid black;
}

#spotlight{
    border-radius: 10px; 
    margin-bottom: 10px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    max-width: 300px;
    min-width: 100px;
}

#spotlight2{
    border-radius: 10px; 
    margin-bottom: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    text-align: center;
}

.spotlight-cards h2{
    text-align: center;
    color: white;
    background-color: #556F44;
    padding: 1em;
    margin: 0 auto;
    border: 2px solid black;
}

.gap {
    max-width: 800px; 
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.gap.discoverMain{
    margin: 0 auto;
}

#discoverPics-holder{
    text-align: center;
}

.card{
    border: 2px solid black;
    padding-top: 0px;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 10px;
}

#side{
    text-align: center;
}

#discH1{
    color: black;
}

.card.cardDisc{
    border: 3.5px solid black;
    box-shadow: 0 0 50px #333;
}

#discoverPics-holder img{
    display: block;
    border: 5px solid black;
    max-width: 500px;
    margin: 10px auto;
}

footer{
    background-color: #335C81;
    text-align: center;
    padding: 1em;
}

footer p{
    color: white;
}

/* images */
.logo{
    border: 3px solid black;
}

#weatherIcon{
    height: fit-content;
    max-width: 80px;
}

#currimg{
    height: fit-content;
    max-width: 100%;
}

#pvimg{
    height: fit-content;
    max-width: 100%;
}

#libraryimg{
    height: fit-content;
    max-width: 100%;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    top: 25px;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(145, 144, 144);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px white;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* directory page */
  #directoryButton{
    border-radius: 10px;
    border: 2px black solid;
    padding: .5em;
    background-color: #556F44;
  }

  .gridListButtons{
    border-radius: 10px;
    border: 2px black solid;
    width: 100px;
    background-color: #556F44;
    color: white;
    padding: .5em;
    margin: 10px;
  }

  .gridListButtons.view{
    border: #d25e8a 4px solid;
  }
  
    .gap.directory_gap{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: center;
        
    }

/* card / grid view */

    .gridVersion{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-items: center;
    }

    .gridVersion section{
        text-align: center;
        border: 4px black solid;
        padding: 1em;
        background-color: #d25e8a;
        margin: 1em;
    }

    .card.directory_card img{
        width: 200px;
        border: solid black 2px;
    }

    /* list view */

    .listVersion{
        display: grid;
        padding: 1em;
    }

    .listVersion img{
        display: none;
    }

    .listVersion section{
        display: grid;
        border: none;
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        padding: .5em;
        margin: 0 auto;
    }

    .listVersion section:nth-child(odd){
        background-color: #d25e8a;
    }

    .listVersion section:nth-child(even){
        background-color: #E6DBD0;
    }