@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Nothing+You+Could+Do&family=Roboto+Condensed&family=Roboto+Flex:opsz@8..144&display=swap');

:root{
    /* color pallette (not set into stone lol) */
    --primary-color: #9CADCE;
    --secondary-color: #08415C;
    --accent1-color: #D1CFE2;
    --accent-color: #FFF7AE;

    /* font choice (also not set into stone) */
    --heading-font: 
}
/* need help lol*/
header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center; 
    align-items: center;
}

header img{
    padding: 10px;
}

img{
    display: block;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0 auto;
    max-width: 600px;
}

h1{
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

nav{
    background-color: var(--accent-color);
    text-align: center;
    border: 3px solid #FFF385;
    padding: 10px;
}

a{
    color: var(--secondary-color);
}

li{
    color: var(--secondary-color);
}

h2{
    text-align: center;
}

.card{
    border: 2px solid lightgray;
    border-radius: 10px; 
    margin-bottom: 10px;
}

h3{
    display: grid;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 10px;
    margin: 0;
}

ul{
    list-style-type: none;
}

nav ul{
    display: flex;
    flex-direction: column;
    }

p{
    text-align: center;
}

footer{
    text-align: center;
    background-color: var(--secondary-color);
    padding: 10px;
}

.white{
    color: white;
}

main {
    max-width: 800px; /* Set your desired maximum width */
    width: 100%; /* Ensure it takes the full width of the container */
    padding: 20px; /* Add padding as needed */
    margin: auto 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

}
